<strong> Olá, {{deliveryman}}</strong>
<p>Sua entrega foi cancelada:</p>
<p>
  <strong>Código: </strong> {{ deliveryId }} <br />
  <strong>Produto: </strong> {{ deliveryProduct }} <br />
  <br />

  <small>
    Para maiores detalhes, entre em contato com o setor administrativo de entregas
  </small>
</p>
