<strong> Olá, {{deliveryman}}</strong>
<p>Você possui uma nova entrega cadastrada:</p>
<p>
  <strong>Código: </strong> {{ deliveryId }} <br />
  <strong>Produto: </strong> {{ deliveryProduct }} <br />
  <br />

  <small>
    O produto está disponível para retirada na central FastFeet setor de entregas.
  </small>
</p>
